<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Must do before die list</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
        <!--/JQuery-->

        <!--Bootstrap-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            [data-hidden="hidden"] {
                display: none; /* OR */
                visibility: hidden; /* If you want to reserve space */
            }
        </style>
        <!--/Bootstrap-->

        <!--AngularJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
        <script src="js/angular.ng-modules.js"></script>
        <!--/AngularJS-->

        <!-- Angular files -->
        <script src="js/list_app.js"></script>   
        <script src="js/controller/create_item_controller.js"></script> 
        <script src="js/controller/create_list_controller.js"></script> 
        <script src="js/controller/delete_item_controller.js"></script> 
        <script src="js/controller/delete_list_controller.js"></script> 
        <script src="js/controller/read_item_controller.js"></script> 
        <script src="js/controller/read_list_controller.js"></script> 
        <script src="js/controller/update_item_controller.js"></script> 
        <script src="js/controller/update_list_controller.js"></script>  
        <script src="js/controller/effect_list.js"></script>  
        <script src="js/services/data.js"></script>   
        <script src="js/sorttable.js"  ></script>
        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Must Do Before Die List</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu List -->
        <div class="container" ng-app="list_controller">
            <div class="row">
                <div   class="col-md-4">
                    <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="List">

                        <div ng-controller="loadCategories"> 
                            <div ng-repeat="x in names">
                                <div ng-controller="updateList"   >
                                    <div  ng-show="!showEditList"  >
                                        <button id="{{x.name}}" ng-controller="selectList" ng-click="select(x)"  type="button" class="btn btn-default btn-primary list">{{x.name}}</button>
                                        <button   type="button" name="editList" ng-click="showEdit()" class="btn btn-default btn-primary list">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"  ></span>  
                                        </button>    

                                        <button ng-show="!showEditList" type="button" name="deleteList"  ng-controller="deleteList" ng-click="delete(x)" class="btn btn-default btn-primary  list">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  ></span>  
                                        </button>  
                                    </div>
                                    <div ng-show="showEditList" ng-submit="edit(x)">
                                        <form ng-show="showEditList" novalidate ng-submit="edit(x)">
                                            <input type="text" id="name" ng-model="list.name" ng-value="{{x.name}}" ng-init="list.name = x.name" value="x.name" />
                                            <input type="submit" ng-click="edit(x)" value="Save" /> 
                                        </form>
                                    </div> 

                                </div> 
                            </div>
                        </div>

                        <br/>
                        <br/>
                        <div ng-controller="createList" ng-submit="create()">
                            <form name="addList" novalidate ng-submit="create()">
                                <input type="text" id="name" ng-model="list.name" placeholder="List Name" />
                                <button type="submit" ng-click="create()"  value="Save">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div> 

                    </div>
                </div> 


                <!-- end Menu List -->

                <div class="col-md-8"  >
                    <div ng-controller="createItem" ng-show="showItems" >
                        <form name="itemForm" >
                            <input type="text" name="item" ng-model="item.text" />
                            <input type="submit" ng-click="create()" value="Add">
                        </form>
                    </div>
                    <div  ng-controller="readItem" ng-show="showItems" > 
                        <button name="randomizer" type="button" ng-click="shuffleArray()" class="btn btn-default"  >Randomize</button>
                        <br/>
                        <table class="table table-hover sortable" >
                            <thead>
                                <tr>
                                    <td>Task</td> 
                                    <td>Date</td>
                                    <td></td> 
                                    <td></td>
                                </tr> 
                            </thead>
                            <tbody >
                                <tr ng-repeat="item in items">
                                    <td>{{item.text}}</td> 
                                    <td>{{item.date}}</td>
                                    <td  ng-controller="updateItem"  > 
                                        <!--button type="button" name="editList" ng-click="changeShowEditItem()" ng-show="!showEditItem" class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </button-->
                                        <div ng-show="showEditItem" >
                                            <form name="editItemForm" novalidate >
                                                <input type="text" ng-model="itemNew.text" ng-value="{{item.text}}"   />
                                                <input type="submit" ng-click="edit(item)" value="Save" /> 
                                            </form>
                                        </div> 
                                    </td> 
                                    <td>
                                        <button ng-controller="deleteItem" ng-click="delete(item)" type="button"  class="btn btn-default" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>  
                        </table>
                    </div>
                </div>
            </div> 
        </div> <!-- /container --> 

        <div class="container">
            <div class="row">
                <hr>
                <footer>
                    <a href="http://www.wtfpl.net/"><img src=" http://www.wtfpl.net/wp-content/uploads/2012/12/wtfpl-badge-4.png"
                                                         width="80" height="15" alt="WTFPL" /></a><span>  Jonas Mayer</span>
                </footer>
            </div>  
        </div> <!-- /container -->       
    </body>
</html>
