<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ReadListServlet</servlet-name>
        <servlet-class>controller.ReadListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadListServlet</servlet-name>
        <url-pattern>/getList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>controller.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
          
    <servlet>
        <servlet-name>AddListServlet</servlet-name>
        <servlet-class>controller.AddListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddListServlet</servlet-name>
        <url-pattern>/addList</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>controller.DeleteItemServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/eraseItem</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>DeleteListServlet</servlet-name>
        <servlet-class>controller.DeleteListServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>DeleteListServlet</servlet-name>
        <url-pattern>/eraseList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditActiveItemServlet</servlet-name>
        <servlet-class>controller.EditActiveItemServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>EditActiveItemServlet</servlet-name>
        <url-pattern>/activeItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditListServlet</servlet-name>
        <servlet-class>controller.EditListServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>EditListServlet</servlet-name>
        <url-pattern>/editList</url-pattern>
    </servlet-mapping>
    <servlet>  
        <servlet-name>EdititemServlet</servlet-name>
        <servlet-class>controller.EdititemServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>EdititemServlet</servlet-name>
        <url-pattern>/editItem</url-pattern> 
    </servlet-mapping>
    <servlet>
        <servlet-name>ReadItemsServlet</servlet-name>
        <servlet-class>controller.ReadItemsServlet</servlet-class> 
    </servlet>  
    <servlet-mapping>
        <servlet-name>ReadItemsServlet</servlet-name>
        <url-pattern>/getItems</url-pattern>
    </servlet-mapping>
</web-app>